@import "variables";

.card {
    color: $dark;
    box-shadow: 0 4px 8px 0 rgba(0 0 0 / 20%);
    padding: 16px;
    height: 90%;
    background-color: $background;
  
    &:hover {
      transform-origin: left top;
      margin-top: -3px;  
      margin-left: 2px;
      transition: margin-left 130ms;
      transition: margin-top 130ms;
      box-shadow: 0 10px 20px rgba(0 0 0 / 10%);
    }
  
    img{
      margin-right: 10px;
      width: 30%;
      border-radius: 50%;
      float: left;
    }
  
    h1{
      font-size: 16px;
      margin-top: 30px;
    }

    a{
      text-decoration: none;
      color: $dark;
      font-weight: 50;
  
      &:hover{
          color: $softGreen;
      }
    }
  }