@{
    ViewData["Title"] = "Start - Index";
}

<h1>Start/Index</h1>
<ul>
    <li><a href="/Start/One">One</a></li>
    <li><a href="/Start/Two">Two</a></li>
    <li><a href="/Start/Three">Three</a></li>
</ul>
