$dark: #330F0A;
$gray: #333;
$grayishBlue: #362F2A;
$blue: #394F49;
$coldGreen: #4F6242;
$warmGreen: #65743A;
$softGreen: #A3B275;
$yellow: #EFDD8D;
$softYellow: #F2ED9E;
$lightYellow: #F4FDAF;
$background: #FAFFD3;
$red: #e74c3c;
$green: #27ae60;