@import "variables";

body {
    margin: 0;
    font-family: Comfortaa, cursive;
    color: #333;
    background-color: $background;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wip{
    font-size: 42px;
    text-align: center;
    margin-top: 20%;
  
    a{
      font-size: 36px;
      text-decoration: none;
          color: $yellow;
          font-weight: 50;
  
          &:hover{
              color: $softGreen;
          }
    }
  }